@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.signika {
  font-family: "Signika", serif;
  font-optical-sizing: auto;
}

.not-active {
  color: rgba(37, 36, 36, 0.8);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease, font-size 0.3s ease;
}

.not-active:hover {
  color: rgba(37, 36, 36, 1);
  font-size: 1.3rem;
}
.active {
  color: rgba(37, 36, 36, 0.8);
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease, font-size 0.3s ease;
}

.active:hover {
  color: rgba(37, 36, 36, 1);
  font-size: 1.3rem;
}


.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
  background: rgba(0, 0, 0, 0.5);
}